@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphism-inside {
  box-shadow: inset 3px 3px 3px #7f7f7f, inset -3px -3px 3px #ffffff;
}

.neumorphism-inside-slate {
  background-color: rgb(30 41 59);
  border: 1px solid #1e293b;
  box-shadow: inset 3px 3px 3px #020009, inset -3px -3px 3px #908fa1;
}

.neumorphism-inside-parameter-full {
  box-shadow: inset 3px 3px 3px #7f7f7f, inset -3px -3px 3px #f9ec5b;
}

.neumorphism-inside-parameter-empty {
  box-shadow: inset 3px 3px 3px #393939, inset -3px -3px 3px #aeadad;
}

.neumorphism-outside {
  box-shadow: 3px 3px 3px #353636, -3px -3px 3px #ffffff;
}

.menu-button-inside-shadow {
  box-shadow: inset 3px 3px 3px #353636, inset -3px -3px 3px #0f0e2a;
}

.menu-button-outside-shadow {
  box-shadow: 3px 3px 3px #353636, -3px -3px 3px #0f0e2a;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 0.25);
  transition: all 0.3s;
  box-shadow: inset 4px 4px 12px #3d3c45, inset -4px -4px 12px #03021c;
}

.menuButton:active {
  color: #666;
  box-shadow: 4px 4px 12px #3d3c45, -4px -4px 12px #03021c;
}

.claymorphism {
  box-shadow: inset -3px -3px 3px #54545f, inset 3px 3px 3px #54545f;
}

.-z-1 {
  z-index: -1;
}

.bg-color {
  background-color: rgb(229, 227, 227);
}

.circle {
  display: inline-block;
  position: absolute;
  border: 2px solid #fa9898;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
}

.particle {
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 3px;
  transform: rotate(0deg) translateX(0px);
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  opacity: 0;
}

.sub-particle {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 2px;
  transform: rotate(0deg) translateX(0px);
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  opacity: 0;
}
