@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphism-inside {
  box-shadow: inset 3px 3px 3px #7f7f7f, inset -3px -3px 3px #ffffff;
}

.neumorphism-inside-parameter-full {
  box-shadow: inset 3px 3px 3px #7f7f7f, inset -3px -3px 3px #f9ec5b;
}

.neumorphism-inside-parameter-empty {
  box-shadow: inset 3px 3px 3px #393939, inset -3px -3px 3px #aeadad;
}

.neumorphism-outside {
  box-shadow: 3px 3px 3px #353636, -3px -3px 3px #ffffff;
}

.claymorphism {
  box-shadow: inset -3px -3px 3px #7f7f7f, inset 3px 3px 3px #ffffff
}

.bg-color {
  background-color: rgb(229, 227, 227);
}

.circle {
  display: inline-block;
  position: absolute;
  border: 2px solid #fd7c7c;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
}
